* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul, a {
  list-style: none;
  text-decoration: none;
}

body.active {
  overflow: hidden;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 12vh 100% 20vh;
      grid-template-rows: 12vh 100% 20vh;
      grid-template-areas: "header header" "main aside" "footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 12vh;
  padding: 0 30px;
  background: linear-gradient(45deg, #1e4e58, #0b616d);
}

header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 12vh;
}

header .header-menu .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f6f6f6;
}

header .header-menu .header-title h1 {
  padding-right: 0.8rem;
  letter-spacing: 1px;
}

header .header-menu .header-title i {
  font-size: 2rem;
}

header .header-menu .menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

header .header-menu .menuList .menuItem {
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

header .header-menu .menuList .menuItem a {
  color: #f2f2f2;
}

header .header-menu .menuList .menuItem:hover {
  font-size: 1.2rem;
}

header .header-menu .menuList .menuItem:hover a {
  color: #f2f2f2;
}

header .menu-toggle {
  display: none;
}

header .menu-toggle i {
  font-size: 2rem;
  color: #f2f2f2;
  cursor: pointer;
}

main {
  background: -webkit-gradient(linear, left bottom, left top, from(#09262a), to(#0b3d44));
  background: linear-gradient(to top, #09262a, #0b3d44);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

main .main-head {
  text-align: center;
  color: #fdfbfb;
  margin-bottom: 2rem;
}

main .main-head h1 {
  font-size: calc(2vw + 0.5rem);
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 0.5px;
  padding: 10px 0;
}

main .main-head span {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: calc(1vw + 0.2rem);
}

main form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background: #13131369;
  -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.438);
          box-shadow: 0 0px 30px rgba(0, 0, 0, 0.438);
}

main form div label {
  color: #fbf6f6;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

main form div input {
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  padding: 6px;
  outline: none;
}

main #btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #12b154;
  color: #f6f6f6;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

main #btn:hover {
  background-color: #109949;
}

aside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(60deg, #0f2c2f, #134f57);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: aside;
}

aside table {
  -webkit-box-shadow: 0 5px 20px #131313;
          box-shadow: 0 5px 20px #131313;
  border-radius: 4px;
  padding: 4px;
  border: transparent;
  width: 80%;
  z-index: 10;
}

aside table th {
  background-color: #313131;
  color: #fbf6f6;
  border-radius: 5px;
  padding: 4px;
}

aside table td {
  background-color: #222;
  color: #f6f6f6;
  border-radius: 5px;
  width: 30%;
  text-align: center;
}

aside .calc-one,
aside .calc-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

aside .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: #27727c;
}

footer {
  background: #1b1a1a;
  color: #f7f7f7;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

footer .social-medias,
footer .references {
  margin-top: 1rem;
}

footer .social-medias {
  text-align: center;
  width: 30%;
  padding: 0 20px;
}

footer .social-medias h4 {
  margin-bottom: 1rem;
  padding-bottom: 4px;
  border-bottom: 2px solid #dd374d;
}

footer .social-medias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .social-medias ul li {
  width: 100%;
  border-bottom: 3px solid #1b1a1a;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}

footer .social-medias ul li i {
  font-size: 1.5rem;
}

footer .social-medias ul li:hover {
  border-bottom: 3px solid #116e8a;
}

footer .references {
  text-align: center;
  width: 30%;
}

@media screen and (max-width: 620px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-title h1 {
    font-size: 1rem;
  }
  header .header-title i {
    display: none;
  }
  header .menuList {
    position: absolute;
    height: 100%;
    top: 12vh;
    right: 100%;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  header .menuList.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #222;
    width: 100%;
    right: 0;
    z-index: 9999999;
  }
  header .menuList.active .menuItem {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    width: 100%;
    text-align: center;
  }
  header .menuList.active .menuItem:hover {
    background-color: #f2f2f2;
    font-size: 2rem;
    padding: 10px;
  }
  header .menuList.active .menuItem:hover a {
    color: #131313;
  }
  header .menu-toggle {
    display: block;
  }
  main {
    background-color: #0b3d44;
    width: 100%;
    height: 100%;
  }
  main .main-head h1 {
    font-size: 1.6rem;
  }
  main .main-head span {
    font-size: 0.8rem;
  }
  aside {
    width: 100%;
    height: 100%;
  }
  aside #tableData {
    margin-top: 8rem;
  }
  aside table th {
    font-size: 0.8rem;
  }
  aside .calc-two {
    margin-bottom: 8rem;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .content .social-medias {
    width: 100%;
  }
  footer .content .references {
    padding: 30px 0;
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */